<html>
	<body>
		<h1>Even Rain May Be Charmed</h1>
		<p>
			They used to make rain charms</br>
			Back when they still knew how.</br>
			Farmers would flock to battlefields with baskets and pliers</br>
			Foraging for nails and teeth and hair</br>
			Lure for rainclouds to hang around the scarecrow's neck.</br>
			Dead soldiers have no use for rain nor teeth.</br>
			Even ones that live to see old age and retire</br>
			Loathe to clip their nails on a sunny day</br>
			Lest a witch gather all the clippings and brew up a storm.</br>
			Witches and soldiers understand</br>
			Enough of anything</br>
			Will always become too much.
		</p>
		<p>
			They used to make love charms</br>
			Back when they still believed in love.</br>
			A witch would cut a soldier's hair in the pouring rain</br>
			Even as the farmers scrambled to retrieve their charms</br>
			And they'd pray for a storm to keep the battles at bay</br>
			For just one more day in each other's arms.</br>
			It is for this reason that they say</br>
			An old soldier must have a witch for a lover</br>
			Whose rain comes as a gift to the soldier.</br>
			Clouds don't gather for the dead friends with missing teeth</br>
			Although it can't be helped that they are missed.
		</p>
		<p>
			For the purposes of a rain charm</br>
			One tooth's as good as any.
		</p>
	<body>
</html>