<html>
	<body>
		<h1>Here's One About Health And Healthcare (For No Reason Whatsoever)</h1>
		<pre>
		From the battering ram to the mammogram
		From the bomb to the bandage
		From the sword to the scalpel
		</pre>
		<pre>
		All technology is ultimately medical *
		All medicine is inherently iatrogenetic **
		</pre>
		<pre>
		Yet, that holy war against disease must be waged evermore until we are rid of all and every suffering!

		Not only the common cold or even cancer
		But parasitic diseases too, such as malaria and landlords, though it's contentious whether they're cancers or parasites.

		From the battering ram to the mammogram
		From the bomb to the bandage
		From the sword to the scalpel

		Every weapon and personnel must join the cause
		You think poets and musicians are exempt?
		There's an audiologist right there and she's in my band.
		From the surgical suture to the strings on this guitar,
		All technology is ultimately medical.

		Cheers, to your good health.
		</pre>
		<p>
		* That is, all technology aims to augment and extend human capabilities or address shortcomings; the pursuit of ease in technology is always a war against its lack in dis-ease.
		</p>
		<p>
		** That is, all medicine necessarily introduces other problems to the patient, which are diseases caused or triggered by the physician and the medical intervention itself, whether physiological or psychosocial or economical.
		</p>
	</body>
</html>