<html>
	<body>
		<h1>I Built A Church For My Friends To Pray In</h1>
		<p>
		God made me a little gay just for the clout<br>
		I don't believe but pray for me and I'll take that<br>
		To the great currency exchange above<br>
		It's gotta be worth something the way<br>
		It seems to settle a sore stomach<br>
		And how I find myself clutching<br>
		And begging<br>
		When pain overtakes pride<br>
		It's no strike against dignity<br>
		To hope it's all worth something<br>
		In the end<br>
		The things they do for love will kill you<br>
		And I don't want the last thing on my mind to be<br>
		"Isn't it so cliché to die for love?"<br>
		Because I'm a snob<br>
		And regardless<br>
		Of my cause of death<br>
		I want my headstone to read<br>
		"Perfectly Good Health"<br>
		With an arrow pointing down<br>
		To keep me<br>
		From rising from the dead<br>
		I'm an improviser raised by planners<br>
		I know full well<br>
		You're supposed to schedule your miracles<br>
		Well ahead of time (It's only considerate).
		</p>
	</body>
</html>