<html>
	<body>
		<h1>I Built A Church For My Friends To Pray In</h1>
		<pre>
		God made me a little gay just for the clout
		I don't believe but pray for me and I'll take that 
		To the great currency exchange above
		It's gotta be worth something the way
		It seems to settle a sore stomach
		And how I find myself clutching
		And begging
		When pain overtakes pride
		It's no strike against dignity
		To hope it's all worth something
		In the end
		The things they do for love will kill you
		And I don't want the last thing on my mind to be 
		"Isn't it so cliché to die for love?"
		Because I'm a snob
		And regardless
		Of my cause of death
		I want my headstone to read
		"Perfectly Good Health"
		With an arrow pointing down
		To keep me
		From rising from the dead
		I'm an improviser raised by planners
		I know full well
		You're supposed to schedule your miracles
		Well ahead of time (It's only considerate).
		</pre>
	</body>
</html>