<html>
	<body>
		<h1>It's Always Eclipse Somewhere</h1>
		<p>
		They say that the light created by the nuclear fusion inside of the Sun at its core takes a hundred thousand years to reach the surface, as the light particles constantly collide into other particles, which makes them scatter in a new, random direction every time, but once the light finally escapes into space, it takes just another 8 minutes to travel from there to Earth.
		</p>
		<p>
		Don't go staring at the Sun<br>
		With naked eyes.<br>
		I know you've been told this<br>
		Time and time again.
		</p>
		<p>
		You rushed to forget and I know it's because you wanted to forgive, to have forgiven, to turn away and see that the shadow you cast is in the form of someone moving on, but the white of your eyes and the way that you squint tells me all I need to know about why you flinch at that old light.
		</p>
		<p>
		It's our birthright to be tempted<br>
		To weave nets and steal fire<br>
		To carve arrows and hunt the stars<br>
		To meet the gaze of God and not be blinded<br>
		To have the Sun and eat it too.
		</p>
		<p>
		So we'll shape sculptures of bronze, hold sunglasses over our camera lens, poke little holes in black paper, face the Sun with our eyes shut tight and see the backs of our eyelids light up, just like they used to a hundred thousand years ago, and think of hunters and fishermen at the break of an old, old dawn.
		</p>
		<p>
		And forgiveness too<br>
		Will come<br>
		Like rain<br>
		Before the forgetting.
		</p>
	<body>
</html>