<html>
	<body>
		<h1>Object to Permanence</h1>
		<pre>
		There's a place you go
		Where they weigh your heart
		List your shames
		Throw you where you belong
		With the rest of the God-knows-whats.
		
		You'll recognise your own handwriting
		Scratched into the windowsills
		And there's light coming through
		Steel bars like your mother's fingers
		The last time you two played peek-a-boo.
		</pre>
		
		<p>
		It took you months, but you eventually learned that stuff doesn't disappear just because it's out of sight; even if you can't see it, God will keep an eye on it; everything is all right where you left it; the shame, your loved ones, the seeds you hid in the dirt; surely they're all right there and certainly won't have sprouted and flowered and had their leaves eaten away at by caterpillars.
		</p>
		
		<p>
		In dreams, time can wait.
		</p>
		<p>
		In dreams, her youthful face.
		</p>
		<p>
		In dreams, you'll have managed to make it all make sense, and they've told you they're sorry, a hug and a good cry works better than a drink; because on a long enough timescale, to be seen is to be understood; and, in dreams, to be understood is to be loved.
		</p>
		
		<p>
		But dreams are a means to an end, that end is the waking life.
		</p>
		
		<pre>
		You look around the familiar room.
		Every butterfly you've ever seen is pinned to the walls.
		Their wings thrum in unison, the sound of distant thunder, swallowing your sobs 
		As you flutter through the bars, your back towards the Moon.
		</pre>
	<body>
</html>