<html>
	<body>
		<h1>The Divine Corporation</h1>
		<p>
		Cry out all you want,</br>
		"O God, O God, O God."</br>
		What's lost in transubstantiation</br>
		Is more than wine and bread.</br>
		</p>
		<p>
		Angels used to come</br>
		In so many shapes</br>
		One never knew they'd seen one</br>
		Or simply were in love.</br>
		</p>
		<p>
		When you're quiet enough</br>
		Alone enough to listen</br>
		All things may sing to you</br>
		Days of angels, days of love.</br>
		</p>
		<p>
		The eyes of your angel</br>
		Will break the silence,</br>
		"Eros, Eros, Eros."</br>
		Perfect understanding will come.</br>
		</p>
	</body>
</html>