<html>
	<body>
		<h1>The Divine Corporation</h1>
		<p>
		Cry out all you want,
		"O God, O God, O God."
		What's lost in transubstantiation
		Is more than wine and bread.
		</p>
		<p>
		Angels used to come
		In so many shapes
		One never knew they'd seen one
		Or simply were in love.
		</p>
		<p>
		When you're quiet enough
		Alone enough to listen
		All things may sing to you
		Days of angels, days of love.
		</p>
		<p>
		The eyes of your angel
		Will break the silence,
		"Eros, Eros, Eros."
		Perfect understanding will come.
		</p>
	</body>
</html>