<html>
	<body>
		<h1>This City Is Cursed</h1>
		<p>
		All that gravel, sand, silt, and swamp it's built on<br>
		Sticks to you and makes you stay<br>
		It's just good enough that you won't mind<br>
		That the swamp is always on its way back.
		</p>
		<p>
		I saw the face of its God one night in the back of a jet ski on display at a Kawasaki store while walking to the bus stop from Darkroom on St Asaph Street, the handles of the vehicle like the horns of a great bull, jutting out just so, around angry red eyes of indicator lights, gleaming plastic under light, on a street named after a bishop whose miracle was to carry hot coal in his apron to the river where his teacher was praying and freezing, down the road from their church, where three choirs of three hundred singers each worked shifts to keep the music going without pause, to keep the silence of the swamp from seeping through, again and again the bull god toiling, and the shadow of its horns stretching ahead on the mud forms a road and it is the walking that makes a road, and under the road, the gravel, the sand, the silt, the swamp, the swamp, the swamp, the swamp, the swamp, the swamp, the swamp...
		</p>
		<p>
		And the Saint could hear in the distance<br>
		Papua New Guinean bullroarers, wailing<br>
		For so many funerals, for so many cows<br>
		Sold off by farmers to send their kids to school<br>
		Ox-bone towers<br>
		Gleaming ivory<br>
		As their academics<br>
		Carry hot coal through the night.
		</p>
	<body>
</html>