<html>
	<body>
		<h1>We Were Windows First and Mirrors Second</h1>

		<p>Leave the window open, it's way too hot. But bugs might come in.</p>

		<p>It's a good judge of character, you say, how someone treats those wiry little things that never ask for much more than a little spot in a corner of your room. I tell you I kill them if they annoy me, because I lack patience for annoyance, but spiders, I don't mind.</p>

		<p>See, I was right. Good judge of character, you repeat. People talk different after fucking, and you don't trust ones who don't. The point of reading is to help you judge books better by their cover. So is, apparently, the point of bugs.</p>

		<p>I love bugs, I tell you, and I show you a haiku I wrote:<br>
		    Which of my lovers<br>
		    Killed my pet daddy long-legs?<br>
		    A fruit fly drifts by<br>
		</p>

		<p>You like it, but you're  too tired to write one back. You're tired, from working jobs that make you go, Marx was right (every job), but you're private about it. Not quite it-is-what-it-is, or whatever-happens-happens, but more the-sort-of-thing-that-tends-to-happen-will-tend-to-happen. It's not Stoic, or whatever, it's analytic a posteriori, it's some self evident-shit you only get after the fact.</p>

		<p>Oh yeah, totally. You have to accept the inevitable consequences of the state of affairs in the present without believing that the present state of affairs is inevitable. And you have to let yourself indulge in that for all it's worth, too.</p>

		<p>Anyway, can you close the curtains? Bugs might come in.</p>

	</body>
</html>