<html>
	<body>
		<h1>Year of the Burning Wood Snakes</h1>
		<p>
		Smell of gunpowder<br>
		And the thrill of<br>
		Adding to the night sky<br>
		Yes, that's what<br>
		The Milky Way was missing!<br>
		</p>

		<p>
		Little hands grasping<br>
		Hungry for light<br>
		Greedy for fire<br>
		Oh, they're ready to<br>
		Burn it all down!
		</p>

		<p>
		Try telling them to be<br>
		Careful with explosives<br>
		Yeah, yeah, OK, we know.<br>
		They're not stupid, and<br>
		Of course they know that's not<br>
		Where stars come from,<br>
		Dumbass.
		</p>

		<p>
		Ask the smallest one<br>
		Where do they come from, then?<br>
		And she'll tell you:
		</p>
		
		<p>
		Ashes to ashes, swords into ploughshares! One day, all my worms will turn, and all my snakes will fly. I won't go around stepping on worms and throwing snakes, for I have the patience and the foresight that their time will come and we'll all join them in the night sky. We shall be dragons one day, and our tears, the stars!
		</p>
		
		<p>
		Could have just said you don't know, you say.<br>
		In the mean time, the older one has lit<br>
		Ten of those Dragon-Slayer rockets.<br>
		They make a big enough bang<br>
		To leave a mark in the sky.<br>
		Manifest Destiny, baby!<br>
		Oh, and a Happy Chinese New Year, everyone.
		</p>
	<body>
</html>