<html>
	<body>
		<h1>Year of the Burning Wood Snakes</h1>
		<pre>
		Smell of gunpowder
		And the thrill of
		Adding to the night sky
		Yes, that's what
		The Milky Way was missing!

		Little hands grasping
		Hungry for light
		Greedy for fire
		Oh, they're ready to
		Burn it all down!
		
		Try telling them to be
		Careful with explosives
		Yeah, yeah, OK, we know.
		They're not stupid, and
		Of course they know that's not
		Where stars come from,
		Dumbass.
		
		Ask the smallest one
		Where do they come from, then?
		And she'll tell you:
		</pre>
		
		<p>
		Ashes to ashes, swords into ploughshares! One day, all my worms will turn, and all my snakes will fly. I won't go around stepping on worms and throwing snakes, for I have the patience and the foresight that their time will come and we'll all join them in the night sky. We shall be dragons one day, and our tears, the stars!
		</p>
		
		<pre>
		Could have just said you don't know, you say.
		In the mean time, the older one has lit
		Ten of those Dragon-Slayer rockets.
		They make a big enough bang
		To leave a mark in the sky.
		Manifest Destiny, baby!
		Oh, and a Happy Chinese New Year, everyone.
		</pre>
	<body>
</html>