---
const entries = [
	{title: "It's Always Eclipse Somewhere", slug: "/scenes/itsalwayseclipsesomewhere"},
	{title: "This City Is Cursed", slug: "/scenes/thiscityiscursed"},
	{title: "I Built A Church For My Friends To Pray In", slug: "/scenes/ibuiltachurchformyfriendstoprayin"},
	{title: "Here's One About Health And Healthcare (For No Reason Whatsoever)", slug: "/scenes/heresoneabouthealthandhealthcare"}
	];
---

<html>
  <body>
	<h1>YELLOW PERIL</h1>
  	<img src = "/art/2d/rex_octo-001.png">
	<p>
		Yellow Peril is a spoken word and music project based in Ōtautahi Christchurch, New Zealand.
	</p>
	<h2>People</h2>
	<h3>Anand Yoganathan</h3>
	<p>
		Master musician and musicologist.
	</p>
	<p>
		He is a huge nerd!
	</p>
	<h3>Seong-Young Her</h3>
	<p>
		Writer and beginner musician.
	</p>
	<p>
		He's also a huge nerd.
	</p>
    <h2>Scenes</h2>
    <ul>
      {entries.map(entry => (
        <li>
          <a href={entry.slug}>{entry.title}</a>
        </li>
      ))}
    </ul>
  </body>
</html>